<h1> Users List</h1>
<table border='1' cellpadding='5'>
  <thead>
    <tr>
      <td> ID </td>
      <td> Name </td>
      <td> Email </td>
      <td> Mobile Number </td>
      <td> Actions </td>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td> <%= user.id %> </td>
        <td> <%= user.name %> </td>
        <td> <%= user.email %> </td>
        <td align='center'> <%= user.mobile_number %> </td>
        <td>
          <%= link_to 'Edit', edit_user_path(user.id) %>
          <button> Show </button>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>